.navBar {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: crimson;
   height: 150px;
}

.links {
   font-size: x-large;
   font-weight: bold;
   text-decoration: none;
   color: white;
}
