.Video {
    width: 100%;
}
.Video hr {
    background-color: #ff6c11;
    height: 10px;
    border-radius: 7px;
}

.ChannelDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ChannelDetails img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

@media only screen and (max-width: 500px) {

    .Description {
        display: none;
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
    }
}