@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

html {
  /* background-color: rgb(4, 83, 88); */
  background-color: #0D0221;
  width: 100%;
}

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  /* color: white; */
  color: #2ED2E6;
}

main {
  padding: 80px;
}

@media only screen and (max-width: 430px) {
  main {
    padding: 80px 10px 80px 10px;
  }
}